$font-icons: 'Open Sans', sans-serif;
$primary-color: #3057F2;
$secondary-color: #3333FF;
$link-color: #1b1b2b;
$background-light: #fff;
$text-color-default: #333;
$shadow-light: rgba(18, 38, 63, 0.03);
$shadow-dark: rgba(34, 54, 77, 0.25);
$menu-max-width: 1200px;
$text-gray: #677C92;
$light-stroke: #E1E9F4;
$light-gray-blue: #F0F4FA;
$light-gray-blue-100: #F9FBFD;
$text-color: #373753;

$tag-green: #C9F2CD;
$text-tag-green: #015901;

* {
  font-family: $font-icons;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100vh;
}

ul, li, a, span {
  font-family: 'Inter', sans-serif !important;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.scrolled {
  box-shadow: 0px 12px 24px 0px $shadow-light;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;

  &.active {
    color: $primary-color !important;
    font-weight: bold;
  }
}

.no-scroll {
  overflow: hidden;
}

.is-blue {
  color: $secondary-color;
  font-weight: 600;
}

.c-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-light !important;
  z-index: 999;
  height: 80px;
  position: fixed;
  width: 100%;
}

.c-menu {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  max-width: $menu-max-width;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.3s;

  .container-menu {
    display: flex;
  }
}

.menu-itens {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  li {
    padding: 10px 20px;
    // position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    // cursor: pointer;
    transition: color 0.3s;
    font-family: Montserrat;

    &.is-open .submenu {
      display: flex;
      opacity: 1;
      visibility: visible;
    }

    .submenu {
      display: flex;
      flex-direction: column;
      opacity: 0;
      visibility: hidden;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 80px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $background-light;
      padding: 20px 10px;
      width: 100%;
      max-height: 1300px;
      box-shadow: 0px 4px 18px 0px $shadow-dark;
      transition: opacity 0.3s ease-in-out, visibility 0.2s ease-in-out;

      .submenu-container {
        display: flex;
        width: 1230px;
        justify-content: space-between;
        padding-bottom: 20px;
        margin: 0 auto;

        .submenu-content {
          width: 33%;
          align-items: start;

          h3 {
            padding: 16px 0 0 0;
          }

          .submenu-item {
            display: flex;
            align-items: flex-start;
            gap: 16px;
            padding: 20px;
            width: 90%;
            min-height: 140px;
            // cursor: pointer;
            border-radius: 12px;

            &_content {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 8px;
              width: 100%;

              .item-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 32px;

                .tag-free {
                  background-color: $tag-green;
                  color: $text-tag-green;
                  border-radius: 6px;
                  padding: 6px 8px;
                  margin-right: 63px;
                  font-weight: 500;
                }

                .tag-new {
                  background-color: $light-stroke;
                  color: $primary-color;
                  border-radius: 6px;
                  padding: 6px 8px;
                  margin-right: 63px;
                  font-weight: 500;
                }
              }

              small {
                text-align: left;
                color: $text-gray;
                line-height: 24px;
              }
            }
          }

          .card {
            border-radius: 20px;
            border: solid 1px $light-stroke;
            background-color: $light-gray-blue-100;
            padding: 24px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            margin-top: 24px;
            width: 100%;
            min-height: 320px;

            img {
              width: 100%;
            }

            .card-title {
              text-align: left;
              margin-top: 16px;

              h3 {
                padding: 0;
                font-size: 20px;
                line-height: 32px;
                font-weight: 400;
                color: $text-color;
              }
            }

            .card-link {
              margin-top: 24px;
              cursor: pointer;

              a {
                color: $primary-color;
                font-weight: 500;
              }
            }

            .ferramentas {
              display: flex;
              flex-direction: column;
              gap: 24px;
            }
          }
        }

        .setores {
          padding-right: 40px;
        }

        .cases {
          padding-inline: 40px;
          border-inline: 1px solid $light-stroke;
        }

        .partner {
          padding-left: 40px;
        }
      }

      .submenu-item:hover {
        background-color: $light-gray-blue;
      }

      .submenu-footer {
        background-color: white;
        display: flex;
        justify-content: space-between;
        width: 1230px;
        margin: 0 auto;
        padding: 24px 24px 0 24px;
        border-top: 1px solid $light-stroke;

        &_contact a {
          color: $primary-color;
          font-size: 20px;
        }

        &_links {
          display: flex;
          gap: 20px;

          a {
            color: $primary-color;
          }
        }
      }
    }
  }

  a {
    color: $link-color;

    &:hover {
      color: $primary-color;
    }
  }
}

.c-logo {
  margin-right: 24px;

  img {
    display: none;

    &.default {
      display: block;
    }
  }
}

.login {
  color: $primary-color;
}

.demo {
  background: $primary-color;
  border-radius: 10px;
  cursor: pointer;
}

.submenu-content {
  display: flex;
  flex-direction: column;
  gap: 4px;

  span {
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    margin: 0;
  }
}

.submenu-text {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 10px;
  white-space: nowrap;

  &:hover {
    background-color: $light-stroke;
    border-radius: 10px;
  }
}

.c-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  background: #babec3;
  padding: 3px 70px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 20px;
  color: $link-color;
}

.c-icon {
  display: inline-block;
  margin-left: 5px;

  i {
    display: none;

    &.fa-angle-down {
      display: inline;
    }
  }
}

.c-icon-bars {
  display: none;
}

.menu-mobile, .c-button-mobile {
  display: none;
}

.c-nav-mobile {
  display: flex !important; //mudar para none
}

.submenu-img {
  width: 40px;
}

.menu-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $background-light;
  display: flex;
  gap: 40px;

  .demo div {
    transition: background-color 0.3s ease;

    &:hover {
      background: rgba(48, 87, 242, 1) !important;
    }
  }
}

.mobile-buttons {
  display: none;
}

#scrollToTopButton {
  position: fixed;
  width: 56px;
  height: 56px;
  bottom: 90px;
  right: 80px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #FFBD00;
  box-shadow: 0px 4px 18px 0px $shadow-dark;
  color: $text-color;
  cursor: pointer;
  padding: 15px;
  border-radius: 40px;
  font-size: 18px;
}

@media (max-width: 1240px) {
  .c-container {
      box-shadow: 0px 12px 24px 0px rgba(18, 38, 63, 0.03);
  }

  .c-header-container{
    padding: 0 20px;
  }
  
  .c-nav-mobile {
      // background: #fff;
      position: fixed; 
      top: 0px;
      left: 0;
      width: 100%;
      height: calc(100vh - 110px); 
      display: none;
      z-index: 99;
      overflow-y: auto;
  }
  
  .scrollable-content {
      flex-grow: 1; 
      padding-bottom: 112px;
  }
  
  .menu-mobile > li > .submenu-mobile {
      // display: none; 
  }

  .c-logo {
      margin-right: 10px;
  }

  .menu-buttons {
      gap: 20px;
  }
  
  .login {
      display: none;
  }
  
  .demo {
      display: none;
  }

  .menu-itens {
      display: none;
  }

  .menu-mobile {
      background: #fff;
      height: 400px;
      list-style: none;
      padding: 0px 0px 30px 0px;
      display: flex;
      flex-direction: column;
      /*justify-content: center;*/
      align-items: center;
      width: 100%;
      overflow-y: auto;
      margin-top: 80px;
      z-index: 2;
  }
  
  .menu-mobile li {
      display: block;
      justify-content: space-between;
      font-size: 20px;
      border: 1px solid #E1E9F4;
      width: 100%;
      cursor: pointer;
  }
  
  .menu-mobile li:last-child {
      border-bottom: none;
  }

  .menu-mobile a {
      font-size: 24px;
      font-weight: 400;
      color: #1b1b2b;
      margin: 0;
  }
  
  .menu-mobile li a span {
      font-size: 20px
  }
 
  .c-icon-bars {
    display: inline;
    cursor: pointer;
    font-size: 20px;
    z-index: 1000; 
    position: relative; 
  }


  .menu-mobile,
  .c-button-mobile {
      display: flex;
      flex-direction: column;
  }

  .submenu-mobile-header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    // border-bottom: 1px solid $light-stroke;
  }

  .submenu-mobile-active {
    max-height: 1000px;
  }

  .submenu-mobile {
      background: #fff;
      /*width: 338px;*/
      margin: 0 auto 0 auto;
      border-radius: 14px;
      /*padding: 20px;*/
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.8s ease-out;
      
      // border-bottom: 1px solid $light-stroke;

      &.submenu-open {
        max-height: 1000px; /* Ajuste para um valor suficiente para o conteúdo completo */
      }

      &_content {
        display: block;

        & .submenu-mobile-header_interno {
          display: flex;
          background-color: #fff;
          justify-content: space-between;
          align-items: center;
          padding: 16px 16px 16px 32px;
          border-bottom: 1px solid $light-stroke;

          & .submenu-mobile_text {
            & h3 {
              color: $text-color;
              font-size: 18px;
              font-weight: 500;
              margin: 0;
              padding: 0;
            }
          }
        }

        .submenu-container-interno {
          background-color: #fff;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.8s ease-out;
        
          &.submenu-open {
            max-height: 500px; /* Ajuste conforme necessário */
          }
        
          .submenu-item_interno {
            background-color: #fff;
            padding: 16px 16px 16px 32px;
            display: flex;
            align-items: center;
            gap: 8px;
            border-top: 1px solid $light-stroke;
            border-bottom: none; /* Desativa a borda inferior padrão */
        
            img {
              width: 24px;
              height: 24px;
            }
        
            a {
              font-size: 16px !important;
              font-weight: 400 !important;
              color: $text-color !important;
            }
          }
        }
      }      
  }

  .submenu-mobile img {
      width: 40px;
  }

  .submenu-mobile h3 {
      font-size: 24px;
      cursor: pointer;
      color: #3333FF;
  }
  
  .submenu-text {
      text-wrap: wrap;
  }
  
  .submenu-text span {
      font-size: 18px;
  }
  
  .menu-buttons-mobile {
      display: flex;
      flex-direction: column;
      
  }
  
  .mobile-buttons {
      position: fixed;
      padding: 10px;
      bottom: 0;
      left: 0; 
      display: none;
      /*flex-direction: column;*/
      width: 100%;
      background-color: #fff;
      box-shadow: 0px 4px 18px 0px rgba(34, 54, 77, 0.12);
      z-index: 9999;
  }
  
  .mobile-buttons a {
      display: inline-block;
      margin: 10px; 
      color: #fff; 
      text-align: center;
  }
  
  @keyframes fadeIn {
      from { opacity: 0; transform: translateY(-20px); }
      to { opacity: 1; transform: translateY(0); }
}
  
  @keyframes fadeOut {
      from { opacity: 1; transform: translateY(0); }
      to { opacity: 0; transform: translateY(-20px); }
  }

  .animate__fadeOut {
      animation: fadeOut 0.3s ease forwards;
  }
  
  .animate__fadeIn {
      animation: fadeIn 0.3s ease forwards;
  }

}

@media (max-width: 768px) {
  .c-menu {
      height: 60px;
  }
  
  #scrollToTopButton {
      right: 60px;
      bottom: 60px;
  }
}

@media (max-width: 430px) {
  .submenu-mobile {
      width: 100%;
  }
  
  #scrollToTopButton {
      right: 30px;
      bottom: 30px;
  }
}

@media (max-width: 360px) {
  .demo {
      display: none;
  }

}
