@charset "UTF-8";
* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100vh;
}

ul, li, a, span {
  font-family: "Inter", sans-serif !important;
}

h1, h2, h3, h4, p {
  margin: 0 !important;
}

.scrolled {
  box-shadow: 0px 12px 24px 0px rgba(18, 38, 63, 0.03);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}
a.active {
  color: #3057F2 !important;
  font-weight: bold;
}

.no-scroll {
  overflow: hidden;
}

.is-blue {
  color: #3333FF;
  font-weight: 600;
}

.c-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff !important;
  z-index: 999;
  height: 80px;
  position: fixed;
  width: 100%;
}

.c-menu {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.3s;
}
.c-menu .container-menu {
  display: flex;
}

.menu-itens {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.menu-itens li {
  padding: 10px 20px;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  transition: color 0.3s;
  font-family: Montserrat;
}
.menu-itens li.is-open .submenu {
  display: flex;
  opacity: 1;
  visibility: visible;
}
.menu-itens li .submenu {
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 20px 10px;
  width: 100%;
  max-height: 1300px;
  box-shadow: 0px 4px 18px 0px rgba(34, 54, 77, 0.25);
  transition: opacity 0.3s ease-in-out, visibility 0.2s ease-in-out;
}
.menu-itens li .submenu .submenu-container {
  display: flex;
  width: 1230px;
  justify-content: space-between;
  padding-bottom: 20px;
  margin: 0 auto;
}
.menu-itens li .submenu .submenu-container .submenu-content {
  width: 33%;
  align-items: start;
}
.menu-itens li .submenu .submenu-container .submenu-content h3 {
  padding: 16px 0 0 0;
}
.menu-itens li .submenu .submenu-container .submenu-content .submenu-item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 20px;
  width: 90%;
  min-height: 140px;
  border-radius: 12px;
}
.menu-itens li .submenu .submenu-container .submenu-content .submenu-item_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}
.menu-itens li .submenu .submenu-container .submenu-content .submenu-item_content .item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 32px;
}
.menu-itens li .submenu .submenu-container .submenu-content .submenu-item_content .item-header h4 {
  font-size: 18px !important;
  color: red !important;
}
.menu-itens li .submenu .submenu-container .submenu-content .submenu-item_content .item-header .tag-free {
  background-color: #C9F2CD;
  color: #015901;
  border-radius: 6px;
  padding: 6px 8px;
  margin-right: 63px;
  font-weight: 500;
}
.menu-itens li .submenu .submenu-container .submenu-content .submenu-item_content .item-header .tag-new {
  background-color: #E1E9F4;
  color: #3057F2;
  border-radius: 6px;
  padding: 6px 8px;
  margin-right: 63px;
  font-weight: 500;
}
.menu-itens li .submenu .submenu-container .submenu-content .submenu-item_content small {
  text-align: left;
  color: #677C92;
  line-height: 24px;
}
.menu-itens li .submenu .submenu-container .submenu-content .card {
  border-radius: 20px;
  border: solid 1px #E1E9F4;
  background-color: #F9FBFD;
  padding: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 24px;
  width: 100%;
  min-height: 320px;
}
.menu-itens li .submenu .submenu-container .submenu-content .card img {
  width: 100%;
}
.menu-itens li .submenu .submenu-container .submenu-content .card .card-title {
  text-align: left;
  margin-top: 16px;
}
.menu-itens li .submenu .submenu-container .submenu-content .card .card-title h3 {
  padding: 0;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #373753;
}
.menu-itens li .submenu .submenu-container .submenu-content .card .card-link {
  margin-top: 24px;
  cursor: pointer;
}
.menu-itens li .submenu .submenu-container .submenu-content .card .card-link a {
  color: #3057F2;
  font-weight: 500;
}
.menu-itens li .submenu .submenu-container .submenu-content .card .ferramentas {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu-itens li .submenu .submenu-container .setores {
  padding-right: 40px;
}
.menu-itens li .submenu .submenu-container .cases {
  padding-inline: 40px;
  border-inline: 1px solid #E1E9F4;
}
.menu-itens li .submenu .submenu-container .partner {
  padding-left: 40px;
}
.menu-itens li .submenu .submenu-item:hover {
  background-color: #F0F4FA;
}
.menu-itens li .submenu .submenu-footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 1230px;
  margin: 0 auto;
  padding: 24px 24px 0 24px;
  border-top: 1px solid #E1E9F4;
}
.menu-itens li .submenu .submenu-footer_contact a {
  color: #3057F2;
  font-size: 20px;
}
.menu-itens li .submenu .submenu-footer_links {
  display: flex;
  gap: 20px;
}
.menu-itens li .submenu .submenu-footer_links a {
  color: #3057F2;
}
.menu-itens a {
  color: #1b1b2b;
}
.menu-itens a:hover {
  color: #3057F2;
}

.c-logo {
  margin-right: 24px;
}
.c-logo img {
  display: none;
}
.c-logo img.default {
  display: block;
}

.login {
  color: #3057F2;
}

.demo {
  background: #3057F2;
  border-radius: 10px;
  cursor: pointer;
}

.submenu-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.submenu-content span {
  font-weight: 400;
  font-size: 14px;
  text-transform: none;
  margin: 0;
}

.submenu-text {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 10px;
  white-space: nowrap;
}
.submenu-text:hover {
  background-color: #E1E9F4;
  border-radius: 10px;
}

.c-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  background: #babec3;
  padding: 3px 70px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 20px;
  color: #1b1b2b;
}

.c-icon {
  display: inline-block;
  margin-left: 5px;
}
.c-icon .fa-angle-up {
  display: none;
}
.c-icon .fa-angle-up.fa-angle-down {
  display: inline;
}

.c-icon-bars {
  display: none;
}

.menu-mobile, .c-button-mobile {
  display: none;
}

.c-nav-mobile {
  display: none;
}

.submenu-img {
  width: 40px;
}

.menu-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  display: flex;
  gap: 40px;
}
.menu-buttons .demo div {
  transition: background-color 0.3s ease;
}
.menu-buttons .demo div:hover {
  background: rgb(48, 87, 242) !important;
}

.mobile-buttons {
  display: none;
}

#scrollToTopButton {
  position: fixed;
  width: 56px;
  height: 56px;
  bottom: 90px;
  right: 80px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #FFBD00;
  box-shadow: 0px 4px 18px 0px rgba(34, 54, 77, 0.25);
  color: #373753;
  cursor: pointer;
  padding: 15px;
  border-radius: 40px;
  font-size: 18px;
}

@media (max-width: 1240px) {
  .c-container {
    box-shadow: 0px 12px 24px 0px rgba(18, 38, 63, 0.03);
  }
  .c-header-container {
    padding: 0 20px;
  }
  .c-nav-mobile {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: calc(100vh - 110px);
    display: none;
    z-index: 99;
    overflow-y: auto;
  }
  .scrollable-content {
    flex-grow: 1;
    padding-bottom: 112px;
  }
  .c-logo {
    margin-right: 10px;
  }
  .menu-buttons {
    gap: 20px;
  }
  .login {
    display: none;
  }
  .demo {
    display: none;
  }
  .menu-itens {
    display: none;
  }
  .menu-mobile {
    background: #fff;
    height: 400px;
    list-style: none;
    padding: 0px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    width: 100%;
    overflow-y: auto;
    margin-top: 80px;
    z-index: 2;
  }
  .menu-mobile li {
    display: block;
    justify-content: space-between;
    font-size: 20px;
    border: 1px solid #E1E9F4;
    width: 100%;
    cursor: pointer;
  }
  .menu-mobile li:last-child {
    border-bottom: none;
  }
  .menu-mobile a {
    font-size: 24px;
    font-weight: 400;
    color: #1b1b2b;
    margin: 0;
  }
  .menu-mobile li a span {
    font-size: 20px;
  }
  .c-icon-bars {
    display: inline;
    cursor: pointer;
    font-size: 20px;
    z-index: 1000;
    position: relative;
  }
  .menu-mobile,
  .c-button-mobile {
    display: flex;
    flex-direction: column;
  }
  .submenu-mobile-header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }
  .submenu-mobile-active {
    max-height: 1000px;
  }
  .submenu-mobile {
    background: #fff;
    /*width: 338px;*/
    margin: 0 auto 0 auto;
    border-radius: 14px;
    /*padding: 20px;*/
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-out;
  }
  .submenu-mobile.submenu-open {
    max-height: 1000px; /* Ajuste para um valor suficiente para o conteúdo completo */
  }
  .submenu-mobile_content {
    display: block;
  }
  .submenu-mobile_content .submenu-mobile-header_interno {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 16px 32px;
    border-bottom: 1px solid #E1E9F4;
  }
  .submenu-mobile_content .submenu-mobile-header_interno .submenu-mobile_text h3 {
    color: #373753;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
  .submenu-mobile_content .submenu-container-interno {
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-out;
  }
  .submenu-mobile_content .submenu-container-interno.submenu-open {
    max-height: 500px; /* Ajuste conforme necessário */
  }
  .submenu-mobile_content .submenu-container-interno .submenu-item_interno {
    background-color: #fff;
    padding: 16px 16px 16px 32px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-top: 1px solid #E1E9F4;
    border-bottom: none; /* Desativa a borda inferior padrão */
  }
  .submenu-mobile_content .submenu-container-interno .submenu-item_interno img {
    width: 24px;
    height: 24px;
  }
  .submenu-mobile_content .submenu-container-interno .submenu-item_interno a {
    font-size: 16px !important;
    font-weight: 400 !important;
    color: #373753 !important;
  }
  .submenu-mobile img {
    width: 40px;
  }
  .submenu-mobile h3 {
    font-size: 24px;
    cursor: pointer;
    color: #3333FF;
  }
  .submenu-text {
    text-wrap: wrap;
  }
  .submenu-text span {
    font-size: 18px;
  }
  .menu-buttons-mobile {
    display: flex;
    flex-direction: column;
  }
  .mobile-buttons {
    position: fixed;
    padding: 10px;
    bottom: 0;
    left: 0;
    display: none;
    /*flex-direction: column;*/
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 18px 0px rgba(34, 54, 77, 0.12);
    z-index: 9999;
  }
  .mobile-buttons a {
    display: inline-block;
    margin: 10px;
    color: #fff;
    text-align: center;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  .animate__fadeOut {
    animation: fadeOut 0.3s ease forwards;
  }
  .animate__fadeIn {
    animation: fadeIn 0.3s ease forwards;
  }
}
@media (max-width: 768px) {
  .c-menu {
    height: 60px;
  }
  #scrollToTopButton {
    right: 60px;
    bottom: 60px;
  }
}
@media (max-width: 430px) {
  .submenu-mobile {
    width: 100%;
  }
  #scrollToTopButton {
    right: 30px;
    bottom: 30px;
  }
}
@media (max-width: 360px) {
  .demo {
    display: none;
  }
}
/* Estilo para cabeçalhos de menus principais e submenus internos */
.submenu-mobile-header,
.submenu-mobile-header_interno {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.submenu-mobile-header .c-icon i.fa-angle-up,
.submenu-mobile-header_interno .c-icon i.fa-angle-up {
  display: none; /* Oculta o ícone de seta para cima por padrão */
}

.submenu-mobile-header .c-icon i.fa-angle-down,
.submenu-mobile-header_interno .c-icon i.fa-angle-down {
  display: inline; /* Mostra o ícone de seta para baixo por padrão */
}

/* Estilos quando o menu está aberto */
.submenu-mobile-header.menu-open,
.submenu-mobile-header_interno.menu-open {
  color: #3057F2; /* Muda a cor do texto quando o menu está aberto */
}

.submenu-mobile-header.menu-open .c-icon i.fa-angle-up,
.submenu-mobile-header_interno.menu-open .c-icon i.fa-angle-up {
  display: inline; /* Mostra o ícone de seta para cima quando o menu está aberto */
}

.submenu-mobile-header.menu-open .c-icon i.fa-angle-down,
.submenu-mobile-header_interno.menu-open .c-icon i.fa-angle-down {
  display: none; /* Oculta o ícone de seta para baixo quando o menu está aberto */
}

.menu-link {
  cursor: pointer;
}

.menu-link .fa-angle-up {
  display: none; /* Esconde o ícone de seta para cima por padrão */
}

.menu-itens li.is-open .fa-angle-up {
  display: inline; /* Mostra a seta para cima quando o submenu está aberto */
}

.menu-itens li.is-open .fa-angle-down {
  display: none; /* Esconde a seta para baixo quando o submenu está aberto */
}

/*# sourceMappingURL=styles.css.map */
